.launcher {
  background-color: black;
}

.titleBar {
  color: white;
  font-size: large;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(to bottom, black 2%, #125f95 60%, black );
}

.titleText {
  padding: 5px;
}

.searchContainer {
  padding: 5px;
}

.innerContainer {
  position: relative;
  display: flex;
}

.search {
  flex: 1;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
  border-image: unset;
  height: 21px;
}

.textShadow {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 3px;
}

.textMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.textCopy {
  visibility: hidden;
  margin-right: -2px;
  white-space: pre;
}

.suggestionText {
  color: #5e5b5b;
}