.launcher {
  background-color: black;
}

.titleBar {
  color: white;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(to bottom, black 2%, #125f95 60%, black );
}

.titleText {
  padding: 10px;
}

.searchContainer {
  padding: 10px;
  padding-bottom: 20px;
}

.innerContainer {
  position: relative;
  display: flex;
}

.search {
  flex: 1;
  border-radius: 5px;
}

.textMenu {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: -2px;
  left: 3px;
}

.textCopy {
  visibility: hidden;
  margin-right: -2px;
  white-space: pre;
}

.iconGroup {
  font-size: small;
  margin-right: 12px;
}

.iconTop {
  position: absolute;
  top: 0;
}

.iconBottom {
  position: absolute;
  bottom: 0;
}

.suggestionText {
  color: #5e5b5b;
}